:root{
    --color-page-background: #202124;
    --color-font: #fff;
    --color-rodape:#171717;
    --color-borda-rodape: #3c4043;
    --color-fonte-rodape: #bdc1c6;
    --color-link-lenguage: #8ab4f8;
}
