.main-rodape{
    background-color: var(--color-rodape);
    /*codigo teste*/
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
    position: fixed;
}
.main-rodape .caixa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 10px;
    border-top: 2px solid var(--color-borda-rodape);
    font-size: 12px;
    color: var(--color-fonte-rodape);
    
}
.main-rodape .caixa a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.main-rodape .caixa.frist{
    justify-content: flex-start;
}
.main-rodape .caixa a{
    padding-left: 10px;
    padding-right: 10px;
}
