.paragrafo{
    display: flex;
    padding-top: 40px;
    font-size: 14px;
}
.paragrafo .paragrafo-frist{
    color: var(--color-font);
}
.paragrafo .paragrafo-second{
    padding-left: 5px;
    cursor: pointer;
    color: var(--color-link-lenguage);
}